---
layout: page
title: blog post 1
---
  <div class="row">

    <div class="col-lg-8 blog-post-box">

      {% for blogposts in site.data.main.blogpost %}
      <h1><a href="blog-post.html"><strong>{{ blogposts.title }}</strong></a></h1>
      <p class="lead">by <a href="#"><strong>{{ blogposts.author}}</strong></a></p>
      <hr>
      <p><i class="fa fa-clock-o"></i><strong> Posted on</strong> {{ blogposts.date }} at {{ blogposts.time }}</p>
      <hr>
      <a href="blog-post.html"><img src="{{ blogposts.images }}" class="img-responsive"></a>
      <hr>
      <p>{{ blogposts.desc }}</p>
      <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>

      <hr>
      {% endfor %}

      <ul class="pager">
        <li class="previous"><a href="#">← Older</a></li>
        <li class="next"><a href="#">Newer →</a></li>
      </ul>

    </div>

    {% include side-widgets.html %}

  </div>