<div class="col-md-4">

      <div class="well">
        <div class="title-highlight"><h4><strong>Blog Search</strong></h4></div>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /well -->

      <div class="well">

        <div class="headline"><h4><strong>Popular Blog Categories</strong></h4></div>

        <div class="row">

          <div class="col-md-6">
            <ul class="list-unstyled">
            {% for category in site.data.main.categories %}
            <li><a href="#dinosaurs">{{ category.title }}</a></li>
            {% endfor %}
            </ul>
          </div>

        <div class="col-md-6">
          <ul class="list-unstyled">
            {% for subcategory in site.data.main.categories %}
            <li><a href="#alien-abductions">{{ subcategory.sub }}</a></li>
            {% endfor %}
          </ul>
        </div>

        </div>

      </div><!-- /well -->

      <div class="well">

        <div class="title-highlight"><h4><strong>Side Widget Well</strong></h4></div>
        <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>

      </div><!-- /well -->

    </div>
