  <div class="top-bar">
    <div class="container">
      <div class="row">

        <div class="hidden-xs hidden-sm col-md-6">
          <p class="contacts"><i class="fa fa-phone-square"></i> 9999-999-9999</p>
          <p class="contacts"><i class="fa fa-envelope"></i> <a href="">info@{{ site.title }}.com</a></p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
            <ul class="social-link pull-right">
            <li><a href="#" class="social-facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="social-skype"><i class="fa fa-skype"></i></a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>